@model Ecommerce_AppUser

@using Ecommerce_App.Areas.Identity.Data;

@{
    Layout = "_Layout";
    ViewData["Title"] = "User Information";
}

<div class="wrapper">
    <partial name="_Slide" />
    <div class="main">
        <partial name="_Navbar" />
        <main class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">My Information</h2>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th>First Name</th>
                                            <td>@Model.FirstName</td>
                                        </tr>
                                        <tr>
                                            <th>Last Name</th>
                                            <td>@Model.LastName</td>
                                        </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td>@Model.Email</td>
                                        </tr>
                                        <tr>
                                            <th>Address</th>
                                            <td>@Model.Address</td>
                                        </tr>
                                        <tr>
                                            <th>Two-Factor Enabled</th>
                                            <td>@(Model.TwoFactorEnabled ? "Yes" : "No")</td>
                                        </tr>
                                        <tr>
                                            <th>Image</th>
                                            <td>
                                                @if (!string.IsNullOrWhiteSpace(Model.Image))
                                                {
                                                    <img src="~/Images/@Model.Image" alt="User Image" style="height: 50px; width: 50px;" />
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <a asp-action="Edit" class="btn btn-primary mt-3">Edit</a>
                    </div>
                </div>
            </div>
        </main>
        <partial name="_Footer" />
    </div>
</div>
