@page
@model LoginModel
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;

@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Log in";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="~/assets/admin/img/icons/icon-48x48.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/pages-sign-in.html" />

    <title>Sign In | AdminKit Demo</title>

    <link href="~/assets/admin/css/app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <main class="d-flex w-100">
        <div class="container d-flex flex-column">
            <div class="row vh-100">
                <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto d-table h-100">
                    <div class="d-table-cell align-middle">

                        <div class="text-center mt-4">
                            <h1 class="h2">@localizer["WelcomeBack"]</h1>
                            <p class="lead">
                                @localizer["SignContinue"]
                            </p>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-3">
                                    <section>
                                        <form id="account" method="post">
                                            <div class="mb-3">
                                                <label asp-for="Input.Email" class="form-label"></label>
                                                <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" placeholder="@localizer["EnterEmail"]" aria-required="true" />
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for="Input.Password" class="form-label"></label>
                                                <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="current-password" placeholder="@localizer["EnterPassword"]" aria-required="true" />
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                            <div>
                                                <div class="form-check align-items-center">
                                                    <input id="customControlInline" type="checkbox" class="form-check-input" value="remember-me" name="remember-me" checked>
                                                    <label class="form-check-label text-small" for="customControlInline">@localizer["RememberMe"]</label>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2 mt-3">
                                                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">@localizer["SignIn"]</button>
                                            </div>
                                            @if ((bool?)ViewData["AccountNotActive"] == true)
                                            {
                                                <div class="text-danger mb-3">@localizer["YourAccountNotActive"]</div>
                                            }
                                            @if ((bool?)ViewData["EmailOrPass"] == true)
                                            {
                                                <div class="text-danger mb-3">The email address or password is incorrect.</div>
                                            }
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mb-3">
                            @localizer["DonthaveAccount"] <a href="Register">@localizer["SignUp"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="~/assets/admin/js/app.js"></script>

</body>

</html>
