@model Domain.Models.AnalyticsViewModel;

@using Microsoft.AspNetCore.Identity
@using Ecommerce_App.Areas.Identity.Data
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;

@inject SignInManager<Ecommerce_AppUser> SignInManager
@inject UserManager<Ecommerce_AppUser> UserManager
@inject IViewLocalizer localizer

@{
    Layout = "_Layout";
    ViewData["Title"] = "Analytics";
    ViewData["ActivePage"] = "Analytics";
    var check = CultureInfo.CurrentCulture.Name;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <title>AdminKit Demo - Bootstrap 5 Admin Template</title>

    <link href="~/assets/admin/css/app.css" rel="stylesheet">
</head>

<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="wrapper">
            <partial name="_Slide" />
            <div class="main">
                <partial name="_Navbar" />
                <div class="main">
                    <main class="content">
                        <div class="container-fluid p-0">
                            @if (check == "en-US")
                            {
                                <h1 class="h3 mb-3"><strong>@localizer["Analytics"]</strong> @localizer["Dashboard"]</h1>
                                <div class="row">
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">@localizer["Income"]</h5>
                                                    </div>

                                                    <div class="col-auto">
                                                        <div class="stat text-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign align-middle"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h1 class="mt-1 mb-3">$@Model.TotalIncome</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">@localizer["Orders"]</h5>
                                                    </div>

                                                    <div class="col-auto">
                                                        <div class="stat text-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag align-middle"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h1 class="mt-1 mb-3">@Model.TotalReservations</h1>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">@localizer["TotalUsers"]</h5>
                                                    </div>

                                                    <div class="col-auto">
                                                        <div class="stat text-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users align-middle"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h1 class="mt-1 mb-3">@Model.TotalUsers</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">@localizer["TotalAdmins"]</h5>
                                                    </div>

                                                    <div class="col-auto">
                                                        <div class="stat text-primary">
                                                            <i class="align-middle" data-feather="shield"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h1 class="mt-1 mb-3">@Model.TotalAdmins</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">@localizer["TotalEmployees"]</h5>
                                                    </div>

                                                    <div class="col-auto">
                                                        <div class="stat text-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users align-middle"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h1 class="mt-1 mb-3">@Model.TotalEmployees</h1>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">@localizer["TotalVisitors"]</h5>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="stat text-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users align-middle"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h1 class="mt-1 mb-3">@Model.TotalVisitors</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-lg-8 col-xxl-12 d-flex">
                                        <div class="card flex-fill">
                                            <div class="card-header">

                                                <h5 class="card-title mb-0">@localizer["LatestReservations"]</h5>
                                            </div>
                                            <table class="table table-hover my-0">
                                                <thead>
                                                    <tr>
                                                        <th>@localizer["FullName"]</th>
                                                        <th>@localizer["PhoneNumber"]</th>
                                                        <th>@localizer["RoomType"]</th>
                                                        <th class="d-none d-xxl-table-cell">@localizer["CheckIn"]</th>
                                                        <th class="d-none d-xl-table-cell">@localizer["CheckOut"]</th>
                                                        <th>@localizer["Status"]</th>
                                                        <th class="d-none d-xl-table-cell">@localizer["Price"]</th>
                                                        <th class="d-none d-xl-table-cell">@localizer["OrderDtae"]</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Reservations)
                                                    {
                                                        <tr>
                                                            <td>@item.FullName</td>
                                                            <td>@item.PhoneNumber</td>
                                                            <td>@item.RoomType.NameEn</td>
                                                            <td class="d-none d-xl-table-cell">@item.CheckIn</td>
                                                            <td class="d-none d-xl-table-cell">@item.CheckOut</td>
                                                            @if (item.Status)
                                                            {
                                                                <td><span class="badge bg-danger">@localizer["Cancelled"]</span></td>
                                                            }
                                                            else
                                                            {
                                                                <td><span class="badge bg-success">@localizer["Active"]</span></td>
                                                            }
                                                            <td class="d-none d-xl-table-cell">$@item.Price</td>
                                                            <td class="d-none d-md-table-cell">@item.OrderDate</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-8 justify-content-center col-xxl-12 d-flex">
                                            <div class="pagination">
                                                <ul class="pagination">
                                                    @{
                                                        int maxPagesToShow = 5;
                                                        int startPage;
                                                        int endPage;
                                                        int diff = 0;

                                                        if (Model.CurrentPage <= 3)
                                                        {
                                                            startPage = 1;
                                                            endPage = Math.Min(maxPagesToShow, Model.TotalPages);
                                                        }
                                                        else if (Model.CurrentPage >= Model.TotalPages - 2)
                                                        {
                                                            startPage = Math.Max(1, Model.TotalPages - maxPagesToShow + 1);
                                                            endPage = Model.TotalPages;
                                                        }
                                                        else
                                                        {
                                                            startPage = Model.CurrentPage - 2;
                                                            endPage = Model.CurrentPage + 2;
                                                            diff = Model.CurrentPage - 3;
                                                        }


                                                        if (Model.CurrentPage <= 1)
                                                        {
                                                            <li class="page-item disabled">
                                                                <a class="page-link" href="@Url.Action("Index", "Analytics", new { page = Model.CurrentPage - 1 })" tabindex="-1" aria-disabled="true">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 6l-6 6l6 6"></path></svg>
                                                                </a>

                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class="page-item">
                                                                <a class="page-link" href="@Url.Action("Index", "Analytics", new { page = Model.CurrentPage - 1 })" tabindex="-1" aria-disabled="true">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 6l-6 6l6 6"></path></svg>
                                                                </a>
                                                            </li>
                                                        }

                                                        for (var i = startPage; i <= endPage; i++)
                                                        {
                                                            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                                                <a class="page-link" href="@Url.Action("Index", "Analytics", new { page = i })">@i</a>
                                                            </li>
                                                        }

                                                        if (@Model.CurrentPage >= Model.TotalPages)
                                                        {
                                                            <li class="page-item disabled">
                                                                <a class="page-link" href="@Url.Action("Index", "Analytics", new { page = Model.CurrentPage + 1 })">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"></path></svg>
                                                                </a>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class="page-item">
                                                                <a class="page-link" href="@Url.Action("Index", "Analytics", new { page = Model.CurrentPage + 1 })">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"></path></svg>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 col-xxl-6 d-flex">
                                        <div class="card flex-fill w-100">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">@localizer["MonthlySales"]</h5>
                                            </div>
                                            <div class="card-body d-flex w-100">
                                                <div class="align-self-center chart chart-lg">
                                                    <canvas id="chartjs-dashboard-bar"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 col-xxl-6 d-flex">
                                        <div class="card flex-fill w-100">
                                            <div class="card-header">

                                                <h5 class="card-title mb-0">@localizer["MonthlyOrders"]</h5>
                                            </div>
                                            <div class="card-body d-flex w-100">
                                                <div class="align-self-center chart chart-lg">
                                                    <canvas id="chartjs2-dashboard-bar"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <h1 class="h3 mb-3 float-end text-end"><strong>@localizer["Analytics"]</strong> @localizer["Dashboard"]</h1>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">@localizer["TotalUsers"]</h5>
                                                    </div>

                                                    <div class="col-auto">
                                                        <div class="stat text-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users align-middle"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h1 class="mt-1 mb-3">@Model.TotalUsers</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">@localizer["Orders"]</h5>
                                                    </div>

                                                    <div class="col-auto">
                                                        <div class="stat text-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag align-middle"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h1 class="mt-1 mb-3">@Model.TotalReservations</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">@localizer["Income"]</h5>
                                                    </div>

                                                    <div class="col-auto">
                                                        <div class="stat text-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign align-middle"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h1 class="mt-1 mb-3">$@Model.TotalIncome</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">@localizer["TotalVisitors"]</h5>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="stat text-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users align-middle"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h1 class="mt-1 mb-3">@Model.TotalVisitors</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">@localizer["TotalEmployees"]</h5>
                                                    </div>

                                                    <div class="col-auto">
                                                        <div class="stat text-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users align-middle"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h1 class="mt-1 mb-3">@Model.TotalEmployees</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">@localizer["TotalAdmins"]</h5>
                                                    </div>

                                                    <div class="col-auto">
                                                        <div class="stat text-primary">
                                                            <i class="align-middle" data-feather="shield"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h1 class="mt-1 mb-3">@Model.TotalAdmins</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-8 col-xxl-12 d-flex">
                                        <div class="card flex-fill">
                                            <div class="card-header">

                                                <h5 class="card-title mb-0 float-end text-end">@localizer["LatestReservations"]</h5>
                                            </div>
                                            <table class="table table-hover my-0">
                                                <thead>
                                                    <tr>
                                                        <th class="d-none d-xl-table-cell">@localizer["OrderDtae"]</th>
                                                        <th class="d-none d-xl-table-cell">@localizer["Price"]</th>
                                                        <th>@localizer["Status"]</th>
                                                        <th class="d-none d-xl-table-cell">@localizer["CheckOut"]</th>
                                                        <th class="d-none d-xxl-table-cell">@localizer["CheckIn"]</th>
                                                        <th>@localizer["RoomType"]</th>
                                                        <th>@localizer["PhoneNumber"]</th>
                                                        <th>@localizer["FullName"]</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Reservations)
                                                    {
                                                        <tr>


                                                            <td class="d-none d-md-table-cell">@item.OrderDate.ToString("dd/MM/yy:hh:mm:ss tt", CultureInfo.InvariantCulture)</td>
                                                            <td class="d-none d-xl-table-cell">$@item.Price</td>
                                                            @if (item.Status)
                                                            {
                                                                <td><span class="badge bg-danger">@localizer["Cancelled"]</span></td>
                                                            }
                                                            else
                                                            {
                                                                <td><span class="badge bg-success">@localizer["Active"]</span></td>
                                                            }

                                                            <td class="d-none d-xl-table-cell">@item.CheckOut.ToString("dd/MM/yy:hh:mm:ss tt", CultureInfo.InvariantCulture)</td>
                                                            <td class="d-none d-xl-table-cell">@item.CheckIn.ToString("dd/MM/yy:hh:mm:ss tt", CultureInfo.InvariantCulture)</td>
                                                            <td>@item.RoomType.NameAr</td>
                                                            <td>@item.PhoneNumber</td>
                                                            <td>@item.FullName</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-8 justify-content-center col-xxl-12 d-flex">
                                            <div class="pagination">
                                                <ul class="pagination">
                                                    @{
                                                        int maxPagesToShow = 5;
                                                        int startPage;
                                                        int endPage;
                                                        int diff = 0;

                                                        if (Model.CurrentPage <= 3)
                                                        {
                                                            startPage = 1;
                                                            endPage = Math.Min(maxPagesToShow, Model.TotalPages);
                                                        }
                                                        else if (Model.CurrentPage >= Model.TotalPages - 2)
                                                        {
                                                            startPage = Math.Max(1, Model.TotalPages - maxPagesToShow + 1);
                                                            endPage = Model.TotalPages;
                                                        }
                                                        else
                                                        {
                                                            startPage = Model.CurrentPage - 2;
                                                            endPage = Model.CurrentPage + 2;
                                                            diff = Model.CurrentPage - 3;
                                                        }


                                                        if (Model.CurrentPage <= 1)
                                                        {
                                                            <li class="page-item disabled">
                                                                <a class="page-link" href="@Url.Action("Index", "Analytics", new { page = Model.CurrentPage - 1 })" tabindex="-1" aria-disabled="true">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 6l-6 6l6 6"></path></svg>
                                                                </a>

                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class="page-item">
                                                                <a class="page-link" href="@Url.Action("Index", "Analytics", new { page = Model.CurrentPage - 1 })" tabindex="-1" aria-disabled="true">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 6l-6 6l6 6"></path></svg>
                                                                </a>
                                                            </li>
                                                        }

                                                        for (var i = startPage; i <= endPage; i++)
                                                        {
                                                            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                                                <a class="page-link" href="@Url.Action("Index", "Analytics", new { page = i })">@i</a>
                                                            </li>
                                                        }

                                                        if (@Model.CurrentPage >= Model.TotalPages)
                                                        {
                                                            <li class="page-item disabled">
                                                                <a class="page-link" href="@Url.Action("Index", "Analytics", new { page = Model.CurrentPage + 1 })">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"></path></svg>
                                                                </a>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class="page-item">
                                                                <a class="page-link" href="@Url.Action("Index", "Analytics", new { page = Model.CurrentPage + 1 })">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"></path></svg>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-4 col-xxl-6 d-flex">
                                        <div class="card flex-fill w-100">
                                            <div class="card-header">

                                                <h5 class="card-title mb-0">@localizer["MonthlyOrders"]</h5>
                                            </div>
                                            <div class="card-body d-flex w-100">
                                                <div class="align-self-center chart chart-lg">
                                                    <canvas id="chartjs2-dashboard-bar"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 col-xxl-6 d-flex">
                                        <div class="card flex-fill w-100">
                                            <div class="card-header">

                                                <h5 class="card-title mb-0">@localizer["MonthlySales"]</h5>
                                            </div>
                                            <div class="card-body d-flex w-100">
                                                <div class="align-self-center chart chart-lg">
                                                    <canvas id="chartjs-dashboard-bar"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </main>
                </div>
                <partial name="_Footer" />
            </div>
        </div>
        <script src="~/assets/admin/js/app.js"></script>
    }
    else
    {
        <div class="wrapper">
            <partial name="_Slide" />
            <div class="main">
                <partial name="_Navbar" />
                <main class="content">
                    <div class="container-fluid p-0">
                    </div>
                </main>
                <partial name="_Footer" />
            </div>
        </div>
    }

</body>
</html>

<script src="~/assets/admin/js/app.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", async function () {
        const chartElement = document.getElementById("chartjs-dashboard-bar");

        async function updateChart() {
            const labels = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            const currentYear = new Date().getFullYear();
            const data = [];

            for (let i = 1; i <= 12; i++) {
                const response = await fetch(`/Analytics/GetMonthlySale?year=${currentYear}&month=${i}`);
                const monthlySale = await response.json();
                data.push(monthlySale);
            }

            new Chart(chartElement, {
                type: "bar",
                data: {
                    labels: labels,
                    datasets: [{
                        label: "This year",
                        backgroundColor: window.theme.primary,
                        borderColor: window.theme.primary,
                        hoverBackgroundColor: window.theme.primary,
                        hoverBorderColor: window.theme.primary,
                        data: data,
                        barPercentage: 1,
                        categoryPercentage: .5
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            gridLines: {
                                display: false
                            },
                            stacked: false,
                            ticks: {
                                stepSize: 20
                            }
                        }],
                        xAxes: [{
                            stacked: false,
                            gridLines: {
                                color: "transparent"
                            }
                        }]
                    }
                }
            });
        }

        await updateChart();
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", async function () {
        const chartElement = document.getElementById("chartjs2-dashboard-bar");

        async function updateChart() {
            const labels = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            const currentYear = new Date().getFullYear();
            const data = [];

            for (let i = 1; i <= 12; i++) {
                const response = await fetch(`/Analytics/GetMonthlyOrder?year=${currentYear}&month=${i}`);
                const monthlySale = await response.json();
                data.push(monthlySale);
            }

            new Chart(chartElement, {
                type: "bar",
                data: {
                    labels: labels,
                    datasets: [{
                        label: "This year",
                        backgroundColor: window.theme.primary,
                        borderColor: window.theme.primary,
                        hoverBackgroundColor: window.theme.primary,
                        hoverBorderColor: window.theme.primary,
                        data: data,
                        barPercentage: 1,
                        categoryPercentage: .5
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            gridLines: {
                                display: false
                            },
                            stacked: false,
                            ticks: {
                                stepSize: 20
                            }
                        }],
                        xAxes: [{
                            stacked: false,
                            gridLines: {
                                color: "transparent"
                            }
                        }]
                    }
                }
            });
        }

        await updateChart();
    });
</script>

