@model Ecommerce_AppUser

@using Ecommerce_App.Areas.Identity.Pages.Account;
@using Microsoft.AspNetCore.Identity
@using Ecommerce_App.Areas.Identity.Data
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;

@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Admin | Create";
    ViewData["ActivePage"] = "Admins";
    var check = CultureInfo.CurrentCulture.Name;
}

<div class="wrapper">
    <partial name="_Slide" />
    <div class="main">
        <partial name="_Navbar" />
        <main class="content">
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <form class="card mt-5" method="post" enctype="multipart/form-data">
                        @if (check == "en-US")
                        {
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="card-header">
                                <h3 class="card-title">Create Admin or Employee</h3>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label class="col-3 col-form-label required" asp-for="FirstName">First Name</label>
                                    <div class="col">
                                        <input type="text" class="form-control" asp-for="FirstName">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="col-3 col-form-label required" asp-for="LastName">Last Name</label>
                                    <div class="col">
                                        <input type="text" class="form-control" asp-for="LastName">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="col-3 col-form-label required" asp-for="Email">Email</label>
                                    <div class="col">
                                        <input type="email" class="form-control" asp-for="Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="col-3 col-form-label required" asp-for="PhoneNumber">Phone Number</label>
                                    <div class="col">
                                        <input type="tel" class="form-control" asp-for="PhoneNumber">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="col-3 col-form-label required" asp-for="Address">Address</label>
                                    <div class="col">
                                        <input type="text" class="form-control" asp-for="Address">
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="newPassword" required>New Password</label>
                                    <input type="password" class="form-control" id="newPassword" name="newPassword">
                                </div>
                                <div class="form-group">
                                    <label for="SelectedRole">Select Role</label>
                                    <select id="SelectedRole" name="selectedRole" class="form-control" required>
                                        <option value="Employee">Employee</option>
                                        <option value="Admin">Admin</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="col-3 col-form-label required" asp-for="Image">Image</label>
                                    <div class="col">
                                        <input type="file" class="form-control" asp-for="Image" accept="image/*">
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <a asp-action="Index" class="btn btn-secondary" role="button">Back to List</a>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="card-header">
                                <h3 class="card-title text-lg-end">انشاء موظف او مسؤول</h3>
                            </div>
                            <div class="card-body text-lg-end">
                                <div class="mb-3">
                                    <label class="col-3 col-form-label required">@localizer["FirstName"]</label>
                                    <div class="col">
                                        <input type="text" class="form-control" asp-for="FirstName">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="col-3 col-form-label required">@localizer["LastName"]</label>
                                    <div class="col">
                                        <input type="text" class="form-control" asp-for="LastName">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="col-3 col-form-label required">@localizer["Email"]</label>
                                    <div class="col">
                                        <input type="email" class="form-control" asp-for="Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="col-3 col-form-label required">@localizer["PhoneNumber"]</label>
                                    <div class="col">
                                        <input type="tel" class="form-control" asp-for="PhoneNumber">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="col-3 col-form-label required">@localizer["Address"]</label>
                                    <div class="col">
                                        <input type="text" class="form-control" asp-for="Address">
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="newPassword" required>@localizer["Password"]</label>
                                    <input type="password" class="form-control" id="newPassword" name="newPassword">
                                </div>
                                <div class="form-group">
                                    <label for="SelectedRole">اختيار صلاحية</label>
                                    <select id="SelectedRole" name="selectedRole" class="form-control" required>
                                        <option value="Employee">Employee</option>
                                        <option value="Admin">Admin</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="col-3 col-form-label required">@localizer["Image"]</label>
                                    <div class="col">
                                        <input type="file" class="form-control" asp-for="Image" accept="image/*">
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <button type="submit" class="btn btn-primary">@localizer["SaveChanges"]</button>
                                    </div>
                                    <div>
                                        <a asp-action="Index" class="btn btn-secondary" role="button">@localizer["BackToList"]</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </main>
        <partial name="_Footer" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
