@model Ecommerce_AppUser

@using Ecommerce_App.Areas.Identity.Pages.Account;
@using Microsoft.AspNetCore.Identity
@using Ecommerce_App.Areas.Identity.Data
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;

@inject SignInManager<Ecommerce_AppUser> SignInManager
@inject UserManager<Ecommerce_AppUser> UserManager
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Admin | Edit";
    ViewData["ActivePage"] = "Admins";
    var check = CultureInfo.CurrentCulture.Name;
}

<style>
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="tel"],
    .form-group select {
        width: 100%;
        height: 38px;
        padding: 6px 12px;
        font-size: 14px;
    }
</style>

<div class="wrapper">
    <partial name="_Slide" />
    <div class="main">
        <partial name="_Navbar" />
        <main class="content">
            <div class="row justify-content-md-center">
                <div class="col-lg-8">
                    <form class="card" method="post" enctype="multipart/form-data">
                        @if(check == "en-US"){
                        <div class="card-body">
                            <h3 class="card-title mb-4">@localizer["EditProfile"]</h3>
                            <div class="row row-cards">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                            <label class="form-label">@localizer["FirstName"]</label>
                                        <input type="text" class="form-control" asp-for="FirstName" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                            <label class="form-label">@localizer["LastName"]</label>
                                        <input type="text" class="form-control" asp-for="LastName" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                            <label class="form-label">@localizer["Email"]</label>
                                        <input type="email" class="form-control" asp-for="Email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                            <label class="form-label">@localizer["PhoneNumber"]</label>
                                        <input type="tel" class="form-control" asp-for="PhoneNumber" />
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                            <label class="form-label">@localizer["Address"]</label>
                                        <input type="text" class="form-control" asp-for="Address" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                            <label class="form-label" for="NewPassword">@localizer["Password"]</label>
                                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="New Password">
                                    </div> 
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                            <label class="form-label">@localizer["ProfileImage"]</label>
                                        <input type="file"  asp-for="Image" class="form-control" />
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                        <a asp-action="Index" class="btn btn-secondary" role="button">@localizer["BackToList"]</a>
                                </div>
                                <div>
                                        <button type="submit" class="btn btn-primary">@localizer["SaveChanges"]</button>
                                </div>
                            </div>
                        </div>
                        }
                        else
                        {
                        <div class="card-body">
                                <h3 class="card-title mb-4 text-lg-end">@localizer["EditProfile"]</h3>
                            <div class="row row-cards">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">@localizer["LastName"]</label>
                                        <input type="text" class="form-control" asp-for="LastName" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">@localizer["FirstName"]</label>
                                        <input type="text" class="form-control" asp-for="FirstName" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">@localizer["PhoneNumber"]</label>
                                        <input type="tel" class="form-control" asp-for="PhoneNumber" />
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">@localizer["Email"]</label>
                                        <input type="email" class="form-control" asp-for="Email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="NewPassword">@localizer["Password"]</label>
                                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="New Password">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">@localizer["Address"]</label>
                                        <input type="text" class="form-control" asp-for="Address" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">@localizer["ProfileImage"]</label>
                                        <input type="file" asp-for="Image" class="form-control" />
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <button type="submit" class="btn btn-primary">@localizer["SaveChanges"]</button>
                                </div>
                                <div>
                                    <a asp-action="Index" class="btn btn-secondary" role="button">@localizer["BackToList"]</a>
                                </div>
                            </div>
                        </div>
                        }
                    </form>
                </div>
            </div>
        </main>
        <partial name="_Footer" />
    </div>
</div>
