@model Domain.DTO_s.Reservation
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;

@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Reservations | Create";
    ViewData["ActivePage"] = "Reservations";
    var check = CultureInfo.CurrentCulture.Name;
}

<div class="wrapper">
    <partial name="_Slide" />
    <div class="main">
        <partial name="_Navbar" />
        <main class="content">
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <form id="createForm" class="card mt-5" asp-action="Create" enctype="multipart/form-data">
                        @if (check == "en-US")
                        {
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="card-header">
                                <h3 class="card-title">Create New Reservation</h3>
                            </div>
                            <div class="card-body">
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label required" asp-for="FullName"></label>
                                    <div class="col">
                                        <input type="text" class="form-control" asp-for="FullName" placeholder="Full Name">
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label required" asp-for="Nationality"></label>
                                    <div class="col">
                                        <input type="text" class="form-control" asp-for="Nationality" placeholder="Nationality">
                                        <span asp-validation-for="Nationality" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label required" asp-for="NationalityId"></label>
                                    <div class="col">
                                        <input type="text" class="form-control" asp-for="NationalityId" placeholder="NationalityId">
                                        <span asp-validation-for="NationalityId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label required" asp-for="PhoneNumber"></label>
                                    <div class="col">
                                        <input type="number" class="form-control" asp-for="PhoneNumber" placeholder="Phone Number">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label required" asp-for="Email"></label>
                                    <div class="col">
                                        <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label required" asp-for="IsAdult"></label>
                                    <div class="col">
                                        <input id="isAdultCheckbox" type="checkbox" class="form-check-input" asp-for="IsAdult">
                                        <span asp-validation-for="IsAdult" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="roomDropdown" class="col-3 col-form-label required">Select Room</label>
                                    <div class="col">
                                        <select id="roomDropdown" asp-for="RoomId" class="form-select">
                                            <option value="" disabled selected>Select Room Number</option>
                                            @foreach (var room in Model.Rooms)
                                            {
                                                <option value="@room.Value">@room.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label required" asp-for="CheckIn"></label>
                                    <div class="col">
                                        <input id="checkInInput" type="datetime-local" class="form-control" asp-for="CheckIn">
                                        <span asp-validation-for="CheckIn" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label required" asp-for="CheckOut"></label>
                                    <div class="col">
                                        <input id="checkOutInput" type="datetime-local" class="form-control" asp-for="CheckOut">
                                        <span asp-validation-for="CheckOut" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <span class="text-danger d-none" id="date-inval">Invalid date!</span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <span class="text-danger d-none" id="date-error"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label required" asp-for="Breakfast"></label>
                                    <div class="col">
                                        <input id="breakfastCheckbox" type="checkbox" class="form-check-input" asp-for="Breakfast">
                                        <span asp-validation-for="Breakfast" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label required" asp-for="Lunch"></label>
                                    <div class="col">
                                        <input id="lunchCheckbox" type="checkbox" class="form-check-input" asp-for="Lunch">
                                        <span asp-validation-for="Lunch" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label required" asp-for="Dinner"></label>
                                    <div class="col">
                                        <input id="dinnerCheckbox" type="checkbox" class="form-check-input" asp-for="Dinner">
                                        <span asp-validation-for="Dinner" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label required" asp-for="ExtraBed"></label>
                                    <div class="col">
                                        <input id="ExtraBed" type="checkbox" class="form-check-input" asp-for="ExtraBed">
                                        <span asp-validation-for="ExtraBed" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div id="escortFields" class="form-group">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 ms-2 row">
                                <label class="col-3 col-form-label">Price</label>
                                <div class="col">
                                    <span id="priceLabel" class="form-control-static">0.00</span>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <a asp-action="Index" class="btn btn-secondary" role="button">Back to List</a>
                                    </div>

                                    <div>
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="card-header">
                                <h3 class="card-title text-lg-end">انشاء حجز جديد</h3>
                            </div>
                            <div class="card-body">
                                <div class="mb-3 row">
                                    <div class="col">
                                        <input type="text" class="form-control" asp-for="FullName" placeholder="Full Name">
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                    <label class="col-3 col-form-label required">@localizer["FullName"]</label>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <input type="text" class="form-control" asp-for="Nationality" placeholder="Nationality">
                                        <span asp-validation-for="Nationality" class="text-danger"></span>
                                    </div>
                                    <label class="col-3 col-form-label required">@localizer["Nationality"]</label>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <input type="text" class="form-control" asp-for="NationalityId" placeholder="NationalityId">
                                        <span asp-validation-for="NationalityId" class="text-danger"></span>
                                    </div>
                                    <label class="col-3 col-form-label required">@localizer["NationalityId"]</label>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <input type="number" class="form-control" asp-for="PhoneNumber" placeholder="Phone Number">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                    <label class="col-3 col-form-label required">@localizer["PhoneNumber"]</label>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <label class="col-3 col-form-label required">@localizer["Email"]</label>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <input id="isAdultCheckbox" type="checkbox" class="form-check-input" asp-for="IsAdult">
                                        <span asp-validation-for="IsAdult" class="text-danger"></span>
                                    </div>
                                    <label class="col-3 col-form-label required">@localizer["IsAdult"]</label>
                                </div>
                                <div class="form-group mb-3 row">
                                    <div class="col">
                                        <select id="roomDropdown" asp-for="RoomId" class="form-select">
                                            <option value="" disabled selected>Select Room Number</option>
                                            @foreach (var room in Model.Rooms)
                                            {
                                                <option value="@room.Value">@room.Text</option>
                                            }
                                        </select>
                                    </div>
                                    <label for="roomDropdown" class="col-3 col-form-label required">رقم الغرفة</label>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <input id="checkInInput" type="datetime-local" class="form-control" asp-for="CheckIn">
                                        <span asp-validation-for="CheckIn" class="text-danger"></span>
                                    </div>
                                    <label class="col-3 col-form-label required">@localizer["CheckIn"]</label>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <input id="checkOutInput" type="datetime-local" class="form-control" asp-for="CheckOut">
                                        <span asp-validation-for="CheckOut" class="text-danger"></span>
                                    </div>
                                    <label class="col-3 col-form-label required">@localizer["CheckOut"]</label>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <span class="text-danger d-none" id="date-inval">Invalid date!</span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <span class="text-danger d-none" id="date-error"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <input id="breakfastCheckbox" type="checkbox" class="form-check-input" asp-for="Breakfast">
                                        <span asp-validation-for="Breakfast" class="text-danger"></span>
                                    </div>
                                    <label class="col-3 col-form-label required">@localizer["Breakfast"]</label>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <input id="lunchCheckbox" type="checkbox" class="form-check-input" asp-for="Lunch">
                                        <span asp-validation-for="Lunch" class="text-danger"></span>
                                    </div>
                                    <label class="col-3 col-form-label required">@localizer["Lunch"]</label>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <input id="dinnerCheckbox" type="checkbox" class="form-check-input" asp-for="Dinner">
                                        <span asp-validation-for="Dinner" class="text-danger"></span>
                                    </div>
                                    <label class="col-3 col-form-label required">@localizer["Dinner"]</label>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <input id="ExtraBed" type="checkbox" class="form-check-input" asp-for="ExtraBed">
                                        <span asp-validation-for="ExtraBed" class="text-danger"></span>
                                    </div>
                                    <label class="col-3 col-form-label required">@localizer["ExtraBed"]</label>
                                </div>
                                <div class="form-group">
                                    <div id="escortFields" class="form-group">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 ms-2 row">
                                <div class="col">
                                    <span id="priceLabel" class="form-control-static">0.00</span>
                                </div>
                                <label class="col-3 col-form-label">@localizer["Price"]</label>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <button type="submit" class="btn btn-primary">@localizer["Create"]</button>
                                    </div>
                                    <div>
                                        <a asp-action="Index" class="btn btn-secondary" role="button">@localizer["BackToList"]</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </main>
        <partial name="_Footer" />
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#roomDropdown').change(function () {
                var selectedRoomId = $(this).val();

                $.ajax({
                    url: '/Reservations/GetRoomCapacity',
                    type: 'GET',
                    data: { roomId: selectedRoomId },
                    success: function (capacity) {
                        $('#capacity').text(capacity);

                        $('#escortFields').empty();

                        for (var i = 0; i < capacity - 1; i++) {
                            appendEscortInput(i);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log("AJAX error:", error);
                    }
                });
            });

            function appendEscortInput(index) {
                var inputHtml = `
                        <div class="mb-3 row mt-4">
                            <label class="col-3 col-form-label required">Full Name</label>
                            <div class="col">
                                <input type="text" class="form-control" name="Escorts[${index}].FullName" placeholder="Full Name">
                            </div>
                            <div class="col">
                                <div class="col">
                                    <input type="hidden" name="Escorts[${index}].IsAdult" value="false">
                                    <input type="checkbox" class="form-check-input escort-checkbox" name="Escorts[${index}].IsAdultCheckbox" id="escort_${index}_IsAdult">
                                    <small class="form-hint mt-1">Is Adult</small>
                                    <span class="text-danger" data-valmsg-for="Escorts[${index}].IsAdult" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>`;

                $('#escortFields').append(inputHtml);

                $(`#escort_${index}_IsAdult`).change(function () {
                    var isChecked = $(this).prop('checked');
                    $(`input[name="Escorts[${index}].IsAdult"]`).val(isChecked ? "true" : "false");
                    updatePrice();
                });
            }

            function updatePrice() {
                var selectedRoomNumber = $('#roomDropdown').val();
                var isAdult = $('#isAdultCheckbox').prop('checked');
                var breakfast = $('#breakfastCheckbox').prop('checked');
                var lunch = $('#lunchCheckbox').prop('checked');
                var dinner = $('#dinnerCheckbox').prop('checked');
                var extraBed = $('#ExtraBed').prop('checked');
                var escortCheckboxes = $('.escort-checkbox:checked');
                var checkInDate = new Date($('#checkInInput').val());
                var checkOutDate = new Date($('#checkOutInput').val());
                if (isNaN(checkInDate) || isNaN(checkOutDate) || checkInDate >= checkOutDate) {
                    console.log('Invalid dates');
                    return;
                }

                var timeDifference = checkOutDate.getTime() - checkInDate.getTime();
                var daysBetween = Math.ceil(timeDifference / (1000 * 3600 * 24));

                $.ajax({
                    url: '/Reservations/GetRoomTypePrice',
                    type: 'GET',
                    data: { roomNumber: selectedRoomNumber },
                    success: function (data) {

                        var capacity = data.capacity
                        var pricePerNight = data.pricePerNight;
                        var breakfastPrice = breakfast ? (data.breakfast || 0) : 0;
                        var lunchPrice = lunch ? (data.lunch || 0) : 0;
                        var dinnerPrice = dinner ? (data.dinner || 0) : 0;
                        var extraBedPrice = extraBed ? (data.extraBed || 0) : 0;

                        var totalPrice = (pricePerNight * capacity) +
                            breakfastPrice + lunchPrice + dinnerPrice + extraBedPrice;

                        totalPrice *= daysBetween + 1;

                        $('#priceLabel').text(totalPrice.toFixed(2) + '$');
                    },
                    error: function (xhr, status, error) {
                        console.log("AJAX error:", error);
                    }
                });
            }

            $('#isAdultCheckbox, #breakfastCheckbox, #lunchCheckbox, #dinnerCheckbox, #ExtraBed, .escort-checkbox').change(updatePrice);

            function CheckDates() {
                var accDate = document.getElementById("checkInInput");
                var relDate = document.getElementById("checkOutInput");
                if (new Date(accDate.value) >= new Date(relDate.value) || new Date(accDate.value) < new Date()) {
                    document.getElementById("date-inval").style.display = "block!important";
                }
                else {
                    document.getElementById("date-inval").style.display = "none!important";
                }
            }


            var currentDate = new Date();
            var year = currentDate.getFullYear();
            var month = String(currentDate.getMonth() + 1).padStart(2, '0');
            var day = String(currentDate.getDate()).padStart(2, '0');
            var formattedDate = `${year}-${month}-${day}`;
            $('#checkOutInput').val(formattedDate);
            $('#checkInInput').val(formattedDate);
        });
    </script>
}